.year-month::before {
    display: inline-block;
    position: absolute;
    z-index: 1;
    float: left;
    margin-left: 5px;
    font-size: 1.5em;
    margin-top: 2px;
    color: darkgray;
}

.year-month input {
    padding-left: 108px;
}

.phone::before { 
    content: "+48";
    display: inline-block;
    position: absolute;
    z-index: 1;
    float: left;
    margin-left: 5px;
    font-size: 1.5em;
    margin-top: 2px;
    color: darkgray;
}

.phone input {
    padding-left: 40px;
}

.pln input {
    padding-left: 55px;
}

.pln::before { 
    content: "PLN";
    display: inline-block;
    position: absolute;
    z-index: 1;
    float: left;
    margin-left: 5px;
    font-size: 1.5em;
    margin-top: 2px;
    color: darkgray;
}


input {
    font-family: inherit; 
    font-size: 1.5em;
}

input.valid {
    box-shadow: 0px 0px 5px green;
}

input.invalid {
    box-shadow: 0px 0px 5px red;
}

.info {
    float: left;
    width: 70%;
    font-weight: bold;
}